.box {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.dnd {
    color: whitesmoke;
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: .2rem .5rem;
    font-size: .9rem;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.048);
}

.dnd button {
    background-color: transparent;
    border: none;
}

@media(max-width:650px) {
    .dnd {
        width: 260px;
        padding: .0rem .5rem;

    }
}