.inp{
    text-align: center;
    padding: 1rem;
}
.inp input{
    padding: .7rem 1.5rem;
    font-size: .9rem;
    border-radius: 25px;
    border:1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
}
::placeholder{
    color: whitesmoke;
}
.inp button{
    background-color: transparent;
    border: none;
}
