* {
    margin: 0;
    padding: 0;
}

.big {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgba(2, 0, 36, 1);
    min-height: 641px;
}

@media(max-width:650px) {
    .time {
        font-size: 25px;
    }
}